@charset "UTF-8";

body {
  background-color: #FFFFFF;
  font-family: "Sarina";
  height: 200vh;
  margin: 0;
  padding: 0;
}

.top {
  opacity: 1;
  background-image: url(../img/fjell.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 120vh;
  padding-top: 3rem;
}

.top_type h1 {
  text-align: center;
  font-size: 4.5em;
  color: #122530;
}

.middle {
  margin-top: -10em;
}
