@charset "UTF-8";

body {
  background-color: #FFFFFF;
  font-family: "Sarina";
  height: 200vh;
  margin: 0;
  padding: 0;
}

.top {
  opacity: 1;
  background-image: url(../img/fjell.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 120vh;
  padding-top: 3rem;
}

.top_type h1 {
  text-align: center;
  font-size: 4.5em;
  color: #000000;
}

.middle {
  margin-top: -15rem;
  font-family: "Allerta";
  position: relative;
  z-index: 2
}

.middle_type {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 3em
}

.middle img {
  width: 100%;
}

.about_img {
  margin: -3em auto 0 auto;
  width: 50%;
}

.about_text {
  margin: 0 auto;
  width: 50%;
}

.button {
  border: 2px #000 solid;
  padding: 1em 0;
  text-decoration: none;
  color: #000;
  width: 100%;
  text-align: center;
  display: block;
}

.knapp {
  width: 15em;
  margin: 0 auto;
}
