@charset "UTF-8";

body {
  background-color: #FFFFFF;
  font-family: "Sarina"

}

img {
  position: absolute;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: -1;
}

.top_type h1 {
  margin-top: 5rem;
  text-align: center;
  font-size: 4.5em;
  color: #122530
}
